<div class="header">
    <div class="header-logo" onclick="redirectToRoute('{{ path('app_home', {}, relative = false) }}')">SKINS <b class="hut">HUT</b></div>
    <div class="header-elements-container">
        <div class="header-element" onclick="redirectToRoute('{{ path('coinflip', {}, relative = false) }}')">COIN FLIP</div>
        <div class="header-element" onclick="redirectToRoute('{{ path('roulette', {}, relative = false) }}')">ROULETTE</div>
        <div class="header-element">DROPS</div>
        <div class="header-element">CRASH</div>
        {% if app.user is not null %}
            <div class="header-balance" id="balance" data-id="{{ app.user.id }}">
                <div id="balanceRaw">{{ app.user.balance }}</div> <img src="{{ asset('assets/img/general/diamond.png') }}" class="diamond">
            </div>
        {% endif %}
    </div>
</div>